.shareContainer {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.6);
    color: white;
    backdrop-filter: blur(20px);
}

.shareWrapper {
    padding: 15px;
}

.shareTop {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.shareHr {
    border: 0.25px solid gray;
}

.shareProfile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 13px;
    cursor: pointer;
}

.shareInput {
    width: 85%;
    border: none;
    background: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: white;
}

.shareInput:focus {
    outline: none;
}

.shareBottom {
    display: flex;
    align-items: center;
}

.shareOptions {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-between;
}

.shareOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.shareOption:hover {
    background: rgba(255, 255, 255, 0.14);
}

.shareOptionIcon {
    margin-right: 5px;
    font-size: 20px;
}

.shareOptionText {
    font-size: 18px;
    font-weight: 400;
}

.shareOptionButton {
    font-size: 18px;
    font-weight: 400;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 18px;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: 600;
    transition: all 0.2s linear;
}

.shareOptionButton:hover {
    background-color: rgb(4, 167, 4);
}

.shareOptionButton:active {
    color: green;
    background-color: white;
}

.shareOptionButton:disabled {
    pointer-events: none;
    background-color: rgba(6, 130, 6, 0.292);
}

.imageFileContainer {
    position: relative;
    padding-top: 10px;
}

.imageFileImg {
    width: 100%;
    object-fit: cover;
}

.cancelImage {
    position: absolute;
    top: 10px;
    right: 6px;
    opacity: 0.6;
    color: black;
}

.cancelImage:hover {
    opacity: 1;
}