.navbarContainer {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
    height: 50px;
    align-items: center;
    color: white;
    width: calc(100% - 2px);
    backdrop-filter: blur(20px);
}

/* Navbar Icon */
.navbarIcon {
    flex: 3;
    display: flex;
    justify-content: center;
}

.icon {
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}

.iconLeft {
    color: orange;
}

.iconRight {
    color: cyan;
}

/* Navbar Search */
.navbarSearch {
    flex: 5;
    background-color: #3a3b3c;
    width: 90%;
    height: 65%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.navbarSearch:hover {
    background-color: #3A3B50;
}

.navbarSearch:focus-within {
    background-color: #3A3B50;
    border: 1px solid #34659e;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 15px;
    margin-right: 10px;
    color: white
}

.searchInput {
    width: 90%;
    color: white !important;
    font-size: 15px;
}

/* Navbar Options */
.navbarOptions {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Navbar Links */
.navbarLinks {
    font-size: 15px;
}

.navbarLink {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.navbarLink::after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 0%;
    left: 0px;
    border-bottom: 3px solid white;
    transition: all .25s linear;
}

.navbarLink:hover::after {
    width: 100%;
}


/* Navbar Option Icons */
.navbarIcons {
    display: flex;
}

.navbarIconItem {
    margin-right: 15px;
    margin-top: 4px;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    transition: all 0.25s ease-in;
}

.navbarIconItem:hover {
    background: rgba(255, 255, 255, 0.247);
}

.navbarOptions>img {
    height: 31px;
    width: 31px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.navProfilePic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}